<!DOCTYPE html>
<html>
    <!-- Head Section -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>Gacha Manager - login</title>

        <!-- Icon -->
    <!-- <link rel="shortcut icon" href="https://www.polytron.co.id/layout/frontend/assets/ico/favicon.ico" type="image/x-icon"> -->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link href="../assets/css/login.css" rel="stylesheet">
    </head>

    <!-- Body Section -->
    <body class="text-center">
        <form id="login_form" class="form-signin" action="/panels/auth/login" method="POST">
            <img class="mb-4" src="/images/icons/icon.webp" alt="gacha-save" width="152" height="152">
            <h1 class="h3 mb-3 font-weight-normal"><strong>Gacha </strong>Save</h1>
            <% if(error){ %>
                <div class="alert alert-danger" role="alert"> <%- error %> </div>
            <% } %>

            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" autocomplete="off" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>
        </form>
        
        <!-- Script Section -->
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script>
            $(function() {
                //
            });
        </script>
    </body>
</html>
