<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
        <span>
            &copy; Gacha WEB APP   
            <%= 
                new Date().getFullYear();
            %>
            0.0.1
        </span>
        </div>
    </div>
</footer>
<!-- End of Footer -->