<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gacha Save Web Application</title>

    <%- include("./css_list")%>
        <!-- cursor change if enable row-reorder -->
        <style>
            .row_reorder {
                cursor: -webkit-grabbing;
                cursor: grabbing;
            }
        </style>

    <!-- Icon -->
    <link rel="shortcut icon" href="https://www.polytron.co.id/layout/frontend/assets/ico/favicon.ico" type="image/x-icon">
</head>